--- 
layout: page 
slide_id: 2 
---


<div class="row">
    <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6  text-justify conference-text">
            <p class="lead">Call For Papers</p>
            <p>Recommender systems in software engineering (RSSE) have gained momentum in recent years. Such systems assist developers in navigating large information spaces and getting instant recom
                 mendations that might be helpful to solve their development tasks. Though a lot of improvements have been obtained so far, there is still the need to make RSSE more effective and efficient. 
                 
            <p>Fur- thermore, while several attempts have been made to improve the recommendation accuracy, little attention has been paid to make such systems robust and resilient to malicious data. 
                In fact, by manipulating training data available in open source software platforms, a hostile user may render recommender systems vulnerable to adversarial attacks, putting software clients at risk.
                The First International Workshop on Evaluation and Analysis of Recommender Systems in Software Engineering (WEARS 2021) brings in a forum for researchers and practitioners to share, 
                discuss and explore the opportunities and challenges raised by the evaluation and in-depth investigation of RSSE. We solicit research work from the Software Engineering community 
                as well as related fields such as Machine Learning and Recommender Systems.</p>
            </p>

            <p>Particular areas of interest include, but are not limited to:
            </p>

            <ul>
                <li>Development and evaluation of RSSE.</li>
                <li>Case studies of real-world implementations; Replication of empirical studies on RSSE. – User studies and benchmark for RSSE.</li>
                <li>Machine learning and deep learning for software engineering.</li>
                <li>Use of artificial intelligence techniques for data processing and data augmentation.</li>
                <li>Techniques and tools to curate data for evaluation.</li>
                <li>RSSE for mining open source software repositories.</li>
                <li>Dealing with bias during the evaluation of RSSE.</li>
                <li>Dealing with anonymized and partial data when evaluating RSSE.</li>
                <li>Reusing existing recommender systems that have not been developed for SE tasks.</li>
                <li>Quantitative versus qualitative analysis of RSSE.</li>
                <li>Adversarial Machine Learning: Threats, attacks and countermeasures.</li>

            </ul>


            {% include contact-us.html %}

        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text text-justify">
            <p>Papers describing timely research contributions in WEARS's areas of interest are solicited. Papers reporting
                on initial results as well as papers discussing mature research projects or case studies of deployed systems
                are sought out. Submissions describing big ideas that may have significant impact and could lead to interesting
                discussions at the workshop are encouraged. </p>

            <p>Submitted papers must be neither previously published nor under review by another workshop, conference or journal.
                Only electronic submissions in PDF will be accepted. Submitted papers must be written in English, must be
                no longer than 6 pages (minimum 10pt font), must render without error using standard PDF viewing tools, must
                print on US-Letter-sized paper, and must conform to the standard ACM Template.</p>
            
                <!--
      <p>This year HotWeb will feature a <b>Best Paper Award</b> and a
      <b>Best Student Paper Award</b>.
-->
            <p> At least one of the authors of each paper accepted for presentation in WEARS 2021 must register for the workshop. <p>
            {% include card-important-dates.html %}

            <p>We plan to organize a <b>special issue</b> on an international journal featuring extended, revised paper from the workshop</p>
        </div>
    </div>
</div>