---
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


        <div class="text-info">Submission Instructions:</div>

        <p>Submitted papers must be neither previously published nor under review by another workshop, conference or journal.</p>



        <p>Submissions must be written in English and adhere to the ACM Proceedings Format. We solicit two types of contributions as follows:
            <ul>
            <li>Research papers (max. 10 pages): Work presenting novel ideas, practical solutions to RSSE.</li>
            <li>Vision and position papers (max. 6 pages): Work in progress, visionary papers, and industrial experiennce.</li>
            </ul>
            </p>

        <p> Papers should use the <strong class="text-danger">standard ACM Template</strong>, available at
            <a href="https://www.acm.org/publications/proceedings-template">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> ACM Article Template
            </a>.
        </p>


        <p>To submit your paper, please follow below link to the submission site:</p>

        <p class="text-center">
            <a href="https://easychair.org/conferences/?conf=ease2021">
            <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
            <strong>    Paper Submission Site </strong>
            </a>
        </p>

        <p>Note that at least one of the authors of each paper accepted for presentation in EASE 2021 must be registered.</p>

        <div class="text-info">Camera-Ready Instructions:</div>
        <p>You will receive the information via your email for camera-ready instructions.

            <!-- 
                    The Author's Final Paper Formatting and Submission Instructions can be found at:</p>

                <p style="padding-top: 6px;padding-bottom: 6px;">
                <a class="button"
                    href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Nov&ERoom=HotWeb+2015"><span>Camera-ready
                    Author Kit</span></a></p>

                <p>If you encounter any problem, please contact our editor, Lisa
                    O'Conner, for assistance.</p> 
                    
                    <p>Please note your final camera-ready is due to IEEE by
                    <b>September 25, 2015.</b> 
                -->

        </p>



            {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>
